Source: barrier
Section: utils
Priority: optional
Standards-Version: 3.9.7
Homepage: https://github.com/debauchee/barrier/
Maintainer: Debauchee Open Source Group <todo@mail.com>
Build-Depends: debhelper (>= 9), 
               libcurl4-openssl-dev, 
               libavahi-compat-libdnssd-dev,
               libssl-dev,
               gcc-12,
               g++-12,
               clang-14,
               libc++-dev,
               libc++abi-dev,
               libstdc++-12-dev,
               build-essential,
               cmake,
               libx11-dev,
               libxext-dev,
               libxtst-dev,
               libxi-dev,
               libxrandr-dev,
               libxinerama-dev,
               libxkbfile-dev,
               libavahi-compat-libdns_sd-dev

Package: barrier
Architecture: amd64
Section: utils
Priority: optional
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Keyboard and mouse sharing solution
 Barrier allows you to share one mouse and keyboard between multiple computers.
 Work seamlessly across Windows, macOS and Linux.
Homepage: https://github.com/debauchee/barrier/
