Source: barrier
Section: x11
Priority: optional
Standards-Version: 3.9.7
Homepage: https://github.com/debauchee/barrier/
Maintainer: Debauchee Open Source Group <todo@mail.com>
Build-Depends: debhelper (>= 9), 
                cmake,
                libavahi-compat-libdnssd-dev,
                libcurl4-openssl-dev | libcurl-dev,
                libgtest-dev <!nocheck>,
                libgmock-dev <!nocheck>,
                libice-dev,
                libsm-dev,
                libssl-dev,
                libxi-dev,
                libxinerama-dev,
                libxrandr-dev,
                libxtst-dev,
                qtbase5-dev,
                xauth <!nocheck>,
                xvfb <!nocheck>,

Package: barrier
Architecture: all
Section: utils
Priority: optional
Depends: ${misc:Depends}, ${shlibs:Depends}, openssl
Description: Keyboard and mouse sharing solution
 Barrier allows you to share one mouse and keyboard between multiple computers.
 Work seamlessly across Windows, macOS and Linux.
Homepage: https://github.com/debauchee/barrier/
